@model Book.Models.tbl_book
    @{
        ViewBag.Title = "Details";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <script src="~/Assets/js/jquery.min.js"></script>
    <script src="~/Assets/js/jqzoom.pack.1.0.1.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/Assets/css/flexslider.css" type="text/css" media="screen" />
    <script src="~/Assets/js/imagezoom.js"></script>
    <script defer src="~/Assets/js/jquery.flexslider.js"></script>

<script>
	// Can also be used with $(document).ready()
	$(window).load(function () {
		$('.flexslider').flexslider({
			animation: "slide",
			controlNav: "thumbnails"
		});
	});
</script>
<!----->
<script>
	$(document).ready(function () {
		$(".menu_body").hide();
		//toggle the componenet with class menu_body
		$(".menu_head").click(function () {
			$(this).next(".menu_body").slideToggle(600);
			var plusmin;
			plusmin = $(this).children(".plusminus").text();

			if (plusmin == '+')
				$(this).children(".plusminus").text('-');
			else
				$(this).children(".plusminus").text('+');
		});
	});
</script>
<!----End-top-nav---->
<!----End-Header---->
<div class="clear"> </div>
<div class="wrap">
	<div class="content">
		<div class="content-grids">
			<div class="details-page">
				<div class="back-links">
					<ul>
						<li><a href="@Url.Action("Index", "HomeScreen")">Trang chủ</a><img src="~/Assets/images/arrow.png" alt=""></li>
						<li><a href="@Url.Action("Store", "HomeScreen")">Sách</a><img src="~/Assets/images/arrow.png" alt=""></li>
						<li><a href="#">Chi tiết</a><img src="~/Assets/images/arrow.png" alt=""></li>
					</ul>
				</div>
			</div>
			<div class="detalis-image">
				<div class="flexslider">
					<ul class="slides">
						<li data-thumb="@Model.book_price">
							<div class="thumb-image"> <img src="/api/AvatarOfProduct/GetAvatarOfProduct?productID= @Model.book_id" data-imagezoom="true" class="img-responsive" alt="" /> </div>
						</li>
					</ul>
				</div>
			</div>
			<div class="detalis-image-details">
				<div class="details-categories">
					<ul>
						@*<li><h3>Category:</h3></li>
						<li class="active1"><a href="#"><span>Nokia Mobiles</span></a></li>*@
					</ul>
				</div><br />
				<div class="brand-value">
					<h3>@Model.book_name</h3>
					<div class="left-value-details">
						<ul>
							<li>Price: &nbsp;@Model.book_price &nbsp;VNĐ</li>
							
							
							<li><p>Not rated</p></li>
						</ul>
					</div>
					<div class="right-value-details">
						<p>No reviews</p>
					</div>
					<div class="clear"> </div>
				</div>
				<div class="brand-history">	
					<a href="/ShoppingCart/AddtoCart/@Model.book_id">Addcart</a>
				</div>
				<div class="clear"> </div>

			</div>
			<div class="clear"> </div>
            <div class="menu_container">
                <p class="menu_head">Thông tin sach<span class="plusminus">+</span></p>
                <div class="menu_body" style="display: none;">
                    <p>@Model.book_description</p>
                </div>
                
            </div>
		</div>

	</div>
</div>
<div class="clear"> </div>


    <h2>Details</h2>

