@model Book.Models.ViewModel
@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrap">
    <div class="content" style="width: 950px; float: left;">
        <div class="content-grids">
            <h2 class="for_h2" style="padding-left: 10px;">Sản phẩm hiện bán tại cửa hàng</h2>
            @foreach (var items in Model.allBooks)
            {
                <div class="grid_1_of_4 images_1_of_4 products-info">
                    <a href="@Url.Action("Details" , "HomeScreen", new { id = items.book_id })">
                        <img src="@items.tbl_avtofbook" />
                        @items.book_name
                    </a>
                    <h3>@items.book_price &nbsp;đ</h3>
                    <ul>
                        <li><a class="cart" href="/ShoppingCart/AddtoCart/@items.book_id"> </a></li>
                        <li><a class="i" href="@Url.Action("Details", "HomeScreen", new { id = items.book_id })"> </a></li>
                        <li><a class="Wishlist" href="#"> </a></li>
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="content-sidebar">
        <h2 class="for_h2">Hãng sản xuất</h2>
        <ul>
            <li><a href="@Url.Action("Store", "HomeScreen")">Tất cả</a></li>
            @foreach (var items in Model.allCatigories)
            {
                <li><a href="@Url.Action("Producer", "HomeScreen", new { id = items.cate_id })">@items.cate_name</a></li>
            }
        </ul>
    </div>
</div>
<div class="clear"></div>

