@model Book.Models.tbl_author

@{
    ViewBag.Title = "EditAuthor";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit Author</h2>

@if (ViewBag.msg != null)
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @ViewBag.msg
    </div>
}
else if (ViewBag.msg1 != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @ViewBag.msg1
    </div>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.au_id)

        <div class="form-group">
            @Html.LabelFor(model => model.au_name, "Author Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.au_name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.au_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.au_description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div>
                    <textarea rows="5" cols="60" name="description" placeholder="Enter details here...">@TempData["description"]</textarea>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "ShowAuthor", "Admin")
</div>
